.module-league-caster-cockpit {
  padding: 1rem;
}

#player {
  width: 100%;
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
}

.team {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#game-control {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

#show-gold,
#show-gold-graph {
  width: 50%;
}

#map-zoom-in,
#map-zoom-out {
  width: 50%;
}

#bluePlayers,
#redPlayers {
  padding: 0 !important;
}

.playerRow {
  width: 100%;
  display: flex;
  border: 1px solid var(--gray-dark);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  text-decoration: none;
  flex-wrap: wrap;
}

.playerRow:last-of-type {
  margin-bottom: 1rem;
}

.red .playerRow {
  flex-direction: row-reverse;
  text-align: right;
}

.playerIcon {
  width: 64px;
  object-fit: contain;
}

.playerInfo {
  width: 35%;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin: 0 !important;
}

.eloInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center !important;
  width: 50px;
}

.eloIcon {
  width: 35px;
  object-fit: contain;
}

.multiLinkBtn {
  margin-top: auto;
  justify-self: baseline;
}

.game-data {
  width: 100%;
  height: 35px;
  gap: 10px;
  background: var(--gray);
  display: flex;
  align-items: center;
}

.championIcon {
  width: 30px;
  height: 30px;
}

.spellIcon,
.item {
  width: 25px;
  height: 25px;
}

.items {
  margin-left: 20px;
}
