.module-league-caster-cockpit {
  padding: 1rem;
}

#player {
  width: 100%;
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
}

.team {
  width: 30%;
  display: flex;
  flex-direction: column;
}

#game-control {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 0;
}

#show-gold {
  margin: auto;
}

#bluePlayers,
#redPlayers {
  padding: 0 !important;
}

.playerRow {
  width: 100%;
  display: flex;
  border: 1px solid var(--gray-dark);
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  text-decoration: none;
}

.playerRow:last-of-type {
  margin-bottom: 1rem;
}

.red .playerRow {
  flex-direction: row-reverse;
  text-align: right;
}

.playerIcon {
  width: 64px;
  object-fit: contain;
}

.playerInfo {
  width: 100%;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin: 0 !important;
}

.eloInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center !important;
  width: 100px;
}

.eloIcon {
  width: 35px;
  object-fit: contain;
}

.multiLinkBtn {
  margin-top: auto;
  justify-self: baseline;
}